.nav-link {
    cursor: pointer;
    color: #fb0 !important;
    font-size: 20px;
    font-family: muli;
    border: 1px solid #f5f5f5;
    border-radius: 15%;
    /* box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.nav {
    justify-content: space-evenly;
}

.nav-link:hover {
    color: blue !important;
}